.search {
  min-height: 90vh;

  // &__container {
  // }
  // &__inner {
  // }
  &__hero {
    width: 100%;
  }
  &__title {
    font-size: 2.5rem;
    margin-left: 4rem;
  }
  &__input {
    width: 35vw;
    height: 2rem;
    font-size: 1.25rem;
    margin-left: 4rem;
  }
  &__dropdown {
    background-color: #6d988458;
    // #91eae4, #86a8e7, #7f7fd5
    width: 35vw;
    margin-left: 4rem;
  }
  &__dropdown-row {
    z-index: 100;
    &:hover {
      color: white;
      background: aqua;
    }
  }
}
.destination__title {
  margin: 4rem;
}
.card {
  &__container {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4rem;
  }
}
.image__card {
  width: 80%;
}
.destination__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.square:hover {
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.square {
  width: 25vw;
  height: 430px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 20px 50px #d9dbdf;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.mask {
  display: flex;
  justify-content: center;
  width: 25vw;
  height: 30vh;
  // clip: rect(0px, 25vw, 20vh, 0px);
  border-radius: 4px;
  position: absolute;
}

.h1 {
  text-align: left;
  margin-top: 200px;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 0.7rem;
}
p {
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;

  font-size: 12px;
  color: #c8c8c8;
  line-height: 18px;
}

.button {
  background-color: #3edd84;
  color: white;
  // width: 90px;
  padding: 10px 18px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 70px;
  font-size: 12px;
  cursor: pointer;
  align-self: center;
  margin: 0;
  width: 100%;
}
.new-trip__places {
  background-color: rgba(255, 255, 255, 0.58);
  margin: 2rem;
  margin-bottom: 4rem;
}

.new-trip__place-title {
  margin-left: 4rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
  margin-top: 0;
}
.button__wrapper {
  display: flex;
}
